@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@800&family=Roboto:wght@400;700&display=swap');
body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    color: #505965;
}


/* quitar */

.offset:before {
    height: 3.8rem;
    margin-top: -3.8rem;
    content: "";
    display: block;
}


/* navbar */

.navbar {
    text-transform: uppercase;
    /* margin-top: -3.8rem; */
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, .6) !important;
}

.navbar-brand img {
    height: 2rem;
}

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #FFD601;
}


/* slider */

.carousel-item {
    height: 100vh;
}

.carousel-caption {
    font-family: 'Fira Sans', sans-serif;
    position: absolute;
    top: 38%;
    text-transform: uppercase;
    width: 100%;
    right: 0;
    left: 0;
}

.carousel-caption h1 {
    font-size: 3.8rem;
    font-weight: 800;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.carousel-caption h3 {
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
}

.btn-lg {
    border-width: medium;
    border-radius: 0;
    font-size: 1.3rem;
}

.btn-lg:hover {
    background-color: #ffd601;
}


/* promocion */

.promocion {
    background-color: #EEEEEE;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.promocion h1 {
    text-transform: uppercase;
}

.btn-md {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.1rem;
    text-transform: uppercase;
    margin: 1rem;
}

.btn-md:hover {
    background-color: #e25424;
    border: 1px solid #e25424 !important;
}

.card {
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* tean */

.team {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.team img {
    margin-top: 1.5rem;
}

.team h4 {
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-top: 1rem;
}

.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-whatsapp {
    font-size: 1.5rem;
    margin: .4rem;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}

.fa-instagram {
    color: #517fa4;
}

.fa-whatsapp {
    color: #28AD00;
}


/* portafolio */

.portafolio img {
    max-width: 100%;
    transition: transform .5s ease;
}

.row.no-padding [class*=col-] {
    padding: 0;
}

.portafolio img:hover {
    transform: scale(1.1);
    cursor: zoom-in;
}

.portafolio {
    overflow: hidden;
}


/* fotter */

footer {
    background-color: #282828;
    color: white;
}

hr.hr-footer {
    border-top: 1px solid #d5d5d5;
    width: 75%;
}

footer .row {
    margin: 0 auto;
    padding-top: 3rem;
}

.redes i {
    color: white;
}

.redes i:hover {
    color: #505965;
}

.redes-footer {
    font-size: 2.5rem;
    margin: .4rem;
}

.hr-100 {
    border-top: 1px solid #d5d5d5;
}


/*--- Bootstrap Mobile Gutter Fix --*/

.row,
.container-fluid {
    margin-left: 0px!important;
    margin-right: 0px!important;
}


/*============= IMAGE SLIDER =============*/

.carousel-item {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 767px) {
    .carousel-caption h1 {
        font-size: 2rem;
        letter-spacing: .12rem;
        padding-bottom: .5rem;
    }
    .carousel-caption h3 {
        font-size: 1rem;
        padding-bottom: 1rem;
    }
    .btn-lg {
        font-size: 1rem;
    }
    .narrow h1 {
        font-size: 1.5rem;
    }
    p.lead {
        font-size: 1rem;
    }
    .promocion {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .promocion h1 {
        font-size: 1.5rem;
    }
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/